body{
  background: #111111;
  color: #eeeeee;
  font-family: monospace;
  height: -webkit-fill-available; height: fill-available;
  margin: 0;
  padding: 0.5em;
}

svg {
  vertical-align: middle;
}

#peers{
  .disconnected{
    color: red;
  }
  .find-initiator{
    color: orange;
  }
  .handshake{
    color: yellow;
  }
  .connected{
    color: green;
  }
}

#log{
  overflow: hidden;
//  height: -webkit-fill-available; height: fill-available;
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid #555555;
    &:last-child{
      border-bottom: none;
    }
  }
  .peer{
    width: fit-content;
    //border-right: 1px solid #555555;
  }
  .message{
    width: -webkit-fill-available; width: fill-available;
  }
  .send{
    .peer{
      color: #666666;
    }
    .message{
      color: #888888;
    }
  }
  .recv{
    .peer{
      color: #888888;
    }
  }
}

.arrow {
  vertical-align: middle;
  margin: 0 2px;
  display: inline-block;
  width: 0;
  height: 0; 
  &.right {
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-left: 1em solid #666666;
  }
  &.left {
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-right: 1em solid #666666;
  }
}

